<?xml version="1.0" encoding="utf-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">  
  <localRepository>${user.home}/.m2/repository</localRepository>  
  <mirrors> 
    <mirror> 
      <id>ttt</id>  
      <mirrorOf>central</mirrorOf>  
      <name>ttt</name>  
      <url>https://nexus.ttt.cn/nexus/content/groups/public/</url> 
    </mirror>  
    <mirror> 
      <id>aliyun</id>  
      <mirrorOf>central</mirrorOf>  
      <name>aliyun maven</name>  
      <url>http://maven.aliyun.com/nexus/content/groups/public/</url> 
    </mirror>  
    <mirror> 
      <id>central</id>  
      <name>Maven China Mirror</name>  
      <url>http://maven.net.cn/content/groups/public/</url>  
      <mirrorOf>central</mirrorOf> 
    </mirror> 
  </mirrors>  
  <profiles> 
    <profile> 
      <id>ttt</id>  
      <repositories> 
        <repository> 
          <id>ttt-central</id>  
          <name>ttt maven central</name>  
          <url>https://nexus.ttt.cn/nexus/content/groups/public/</url>  
          <releases>
            <enabled>true</enabled>
          </releases>  
          <snapshots>
            <enabled>true</enabled>
          </snapshots> 
        </repository> 
      </repositories>  
      <pluginRepositories> 
        <pluginRepository> 
          <id>ttt-central</id>  
          <name>ttt maven central</name>  
          <url>https://nexus.ttt.cn/nexus/content/groups/public/</url>  
          <releases>
            <enabled>true</enabled>
          </releases>  
          <snapshots>
            <enabled>true</enabled>
          </snapshots> 
        </pluginRepository> 
      </pluginRepositories> 
    </profile>  
    <profile> 
      <id>aliyun</id>  
      <repositories> 
        <repository> 
          <id>alimaven</id>  
          <name>aliyun maven</name>  
          <url>http://maven.aliyun.com/nexus/content/groups/public/</url>  
          <releases> 
            <enabled>true</enabled> 
          </releases>  
          <snapshots> 
            <enabled>true</enabled> 
          </snapshots> 
        </repository>  
        <repository> 
          <id>central</id>  
          <name>Maven Repository Switchboard</name>  
          <layout>default</layout>  
          <url>http://repo1.maven.org/maven2</url>  
          <snapshots> 
            <enabled>false</enabled> 
          </snapshots> 
        </repository> 
      </repositories>  
      <pluginRepositories> 
        <pluginRepository> 
          <id>aliyun</id>  
          <name>aliyun maven</name>  
          <url>http://maven.aliyun.com/nexus/content/groups/public/</url> 
        </pluginRepository> 
      </pluginRepositories> 
    </profile> 
  </profiles>  
  <servers> 
    <server> 
      <id>ttt-release</id>  
      <username>ttt-snap</username>  
      <password>123456</password> 
    </server>  
    <server>
      <id>ttt-snapshot</id>
      <username>ttt-snap</username>
      <password>123456</password>
    </server>
  </servers>  
  <!-- <distributionManagement> 
    <repository> 
      <id>ttt-release</id>  
      <name>Nexus Repository</name>  
      <url>https://nexus.ttt.cn/nexus/content/repositories/releases/</url> 
    </repository>  
    <snapshotRepository> 
      <id>ttt-snapshot</id>  
      <name>Nexus Repository</name>  
      <url>https://nexus.ttt.cn/nexus/content/repositories/snapshots/</url> 
    </snapshotRepository> 
  </distributionManagement>   -->
  <!-- 激活配置 -->  
  <activeProfiles> 
    <!-- <activeProfile>aliyun</activeProfile> --> 
  </activeProfiles> 
</settings>